tests/tobeadded.dtd

<!ATTLIST concept     %global-atts;  class CDATA "- topic/topic concept/concept ">
<!ATTLIST image height CDATA #REQUIRED>
<!ATTLIST image width CDATA #REQUIRED>
<!ATTLIST student_name student_no ID #REQUIRED>
<!ATTLIST student_name student_no ID #REQUIRED>
<!ATTLIST student_name tutor_1 IDREF #IMPLIED>
<!ATTLIST student_name tutor_2 IDREF #IMPLIED>
<!ATTLIST results image ENTITY #REQUIRED>
<!ENTITY a SYSTEM
    "http://www.university.com/results/experimenta/a.gif">
<!ATTLIST results images ENTITIES #REQUIRED>
<!ENTITY a1 SYSTEM
    "http://www.university.com/results/experimenta/a1.gif">
<!ENTITY a2 SYSTEM
    "http://www.university.com/results/experimenta/a2.gif">
<!ENTITY a3 SYSTEM
    "http://www.university.com/results/experimenta/a3.gif">
<!ATTLIST student_name student_no NMTOKEN #REQUIRED>

<!ATTLIST code lang NOTATION (vrml) #REQUIRED>

<!ATTLIST task status (important|normal) #REQUIRED>